.wrapper

  =render "shared/chat-side"
.chat-main
  .chat-main__header
    .chat-main__header--group.clearfix
      .chat-main__header--group-name
        bbb
      %a.chat-main__header--group-edit-btn{href: "/groups/1224/edit"}
        edit
    .chat-main__header-members
      MEMBER:
      %i
        tarotanaka

  .messages
    = render partial: 'message', collection: @messages

  .chat-main__footer
    .chat-main__footer-form
      = form_for [@group, @message] do |f|
        = f.text_field :content, class: 'form__message', placeholder: 'type a message'
        .chat-main__footer-form__mask
          = f.label :image, class: 'mask__image' do
            = fa_icon 'picture-o', class: 'icon'
            = f.file_field :image, class: 'hidden'
        = f.submit 'Send', class: 'mask__submit'

